.navbar
  font-family: 'Roboto', sans-serif
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  padding: 15px 50px
  background-color: transparent
  box-sizing: border-box
  z-index: 3
  position: fixed
  top: 0
  width: 100%
  background-color: transparent


  &.scrolled
    background-color: rgba(255, 255, 255, 0.1)
    backdrop-filter: blur(10px)

  .navbar-logo
    font-size: 24px
    font-weight: bold
    margin: 0  
    color: white
    text-decoration: none
    transition: color .4s ease
    
    &:hover
      color: #39db9a


  .navbar-links
    display: flex
    align-items: center
    margin: 0  

    .link
      font-size: 18px
      color: white
      cursor: pointer
      margin-right: 50px
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5)
      background-image: linear-gradient(to bottom, transparent 65%, #39db9a 0)
      background-size: 0% 100%
      background-repeat: no-repeat
      text-decoration: none
      transition: background-size .4s ease

      &:hover
        background-size: 100% 100%
        cursor: pointer

      &[aria-disabled="true"]
        color: white
        cursor: not-allowed

        &:hover
          text-decoration: none

  .right-links
    display: flex
    align-items: center

    .link
      font-size: 18px
      color: white
      cursor: pointer
      margin-right: 50px
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5)
      background-image: linear-gradient(to bottom, transparent 65%, #39db9a 0)
      background-size: 0% 100%
      background-repeat: no-repeat
      text-decoration: none
      transition: background-size .4s ease

      &:hover
        background-size: 100% 100%
        cursor: pointer

    .logout-button
      font-size: 18px
      color: white
      cursor: pointer
      margin-right: 50px
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5)
      background-color: transparent // Rend le fond transparent
      border: none
      background-size: 0% 100%
      background-repeat: no-repeat
      text-decoration: none
      transition: background-size .4s ease

      &:hover
        background-size: calc(100% - 11px) 100%
        cursor: pointer
        // Utilisation de la couleur de fond pour l'effet de soulignement
        background-image: linear-gradient(to bottom, transparent 65%, #39db9a 0)
        background-position: 5px 100%

        

