.subfooter
  background-image: url('/src/assets/images/surfooter-banner.jpg')
  background-size: cover
  background-position: center top
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

.travel-quote
  font-family: 'Roboto', sans-serif
  font-size: 25px
  color: #1E1E1E
  width: 70%
  text-align: center
  margin: 0
  padding: 20px
  
.quote-author 
   font-size:18px
   margin-top: 8px
   font-style: italic  
   text-align: center

